/* styles.css */
header {
    background-color: #FF5733;
    border-top-color: #50C878;
    padding: 10px 0;
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

header a:hover {
    background-color: #575757;
    border-radius: 10px;
}